<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <title>COVID-19</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="flex-container">
        <h1 class="nav-brand"><span><img src="images/Logo.png" alt="logo" class="img-fluid" width=57.17px
                    height=61px></span> MR-TRACKER</h1>
        <ul class="navigation">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="#symptoms">Symtoms</a></li>
            <li><a href="#updates">india</a></li>
            <li><a href="#contact">contact</a></li>

        </ul>
    </nav>